PORT=3000
SESSION_SECRET=undira_secret_key_ganti_ini

# Email Configuration (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=email@gmail.com
EMAIL_PASS=app_password_gmail
EMAIL_FROM=UNDIRA <noreply@undira.ac.id>
ADMIN_EMAIL=admin@undira.ac.id
